/* ----------Global Setting--------*/
body {
    margin: 0;
    background-color: #1a2435;
    color: #F2F2F2;
    font-family: 'Roboto', sans-serif;
    width: 100%;
    padding: 0;
    border: 0;
}

h1 {
    font-weight: 700;
}

h2 {
    font-weight: 500;
}

h3 {
    font-weight: 400;
}

p {
    font-weight: 100;
}

a {
    color: #F2F2F2;
}

a:visited {
    color: #F2F2F2;
}

hr {
    border-style: solid none none none;
    width: 50%;
}
/* ----------Bouton----------- */
.button {
    text-decoration: none;
    border-radius: 15px;
    padding: 1%;
    border-style: solid;
    border-color: #1a2435;
    transition: 0.3s;
    background-color: #EEEEEE;
    color: #000000;
    margin: 10px;
}

.button:visited {
    color: #00000049;
}

.button:hover {
    border-color: #F2F2F2;
    border-style: solid;
    background-color: #00000049;
    color: #F2F2F2;
}

.button:active {
    border-color: #8BBCCC;
    color: #8BBCCC;
}

/* -----------menu setup ----------------*/

.menu {
    display: flex;
    position: fixed;
    align-items: center;
    top: 0;
    width: 100%;
    background-color: #000000;
}

.menuM {
    display: none;
}

.logo {
    margin: 0 15px;
    width: 60px;
}

.logo img {
    width: 100%;
}
    
.menu ul {
    list-style: none;
    margin: 0 10px 0 auto;
    padding: 0;
}

.menu ul li {
    margin: auto 20px;
    display: inline;
}

.menu a {
    text-decoration: none;
    padding: 10px;
    transition: 0.4s;
    border-radius: 15px;
    border-style: solid;
    border-color: transparent;
}

.menu a:visited {
    color: #F2F2F2;
}

.menu a:hover {
    border-color: #F2F2F2;
}

.menu a:active {
    border-color: #8BBCCC;
    color: #8BBCCC;
}



/* ---------Page Setup ----------*/



.accueil, .portfolio, .moi, .contact {
    padding: 10px 20px;
    width: auto;
}

/* ----------Style--------- */

.accueil {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.accueil div {
    background-color: #4c679356;
    border-radius: 15px;
    width: 50%;
    padding: 2%;
}

.go {
    margin-top: 20px;
}

.portfolio {
    display: flex;
    flex-wrap: wrap;
}

.moi {
    display: flex;
    flex-wrap: wrap;
    padding: 10%;
    justify-content: space-between;
}

.presentation, .skills {
    background-color: #4c679356;
    border-radius: 15px;
    padding: 2%;
    margin: 5px 5px;
}

.presentation {
    width: 40%;
}

.skills {
    width: 40%;
}

.contact {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    padding: 10%;
}

.myInfo, .form-contact {
    background-color: #4c679356;
    border-radius: 15px;
    padding: 2%;
    margin: 5px 5px;
}

.form-contact{
    width: 40%;
}

.form-contact input {
    border-radius: 15px;
    margin: 5px 0px 10px;
    width: 100%;
}

.form-contact textarea {
    resize: none;
    border-radius: 15px;
    height: 300px;
    width: 100%;
    margin: 5px 0 10px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .menu {
        height: 40px;
    }

    .menu ul {
        display: none;
   }

   .menuM {
        display: inline;
        border-style: solid;
        border-radius: 15px;
        border-color: transparent;
        margin: 0 10px 0 auto;
        transition: 0.4s;
   }

   .menuM:hover {
        border-color: #F2F2F2;
   }

   .logo {
    position: relative;
    left: 43%;
    top: 35%;
}

   .accueil div {
        width: 70%;
        margin-bottom: 25px;
        margin-top: 50px;
   }

   .moi {
        flex-direction: column;
   }

   .presentation, .skills {
        width: 100%;
   }

   .presentation {
        margin-bottom: 30px;
   }

   .contact {
        flex-direction: column;
   }

   .myInfo, .form-contact {
        width: 100%;
        padding-right: 3%;
   }

   .myInfo {
        margin-bottom: 30px;
   }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .menu {
        height: 50px;
    }
    .menu ul {
        display: none;
   }

   .menuM {
        display: inline;
        border-style: solid;
        border-radius: 15px;
        border-color: transparent;
        margin: 0 10px 0 auto;
        transition: 0.4s;
   }

   .menuM:hover {
        border-color: #F2F2F2;
   }

   .logo {
        position: relative;
        left: 45%;
        top: 20%;
   }

   .accueil div {
        width: 70%;
        margin-bottom: 25px;
        margin-top: 50px;
   }

   .moi {
        flex-direction: column;
   }

   .presentation, .skills {
        width: 100%;
   }

   .presentation {
        margin-bottom: 30px;
   }

   .contact {
        flex-direction: column;
   }

   .myInfo, .form-contact {
        width: 100%;
        padding-right: 3%;
   }

   .myInfo {
        margin-bottom: 30px;
   }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .logo {
        position: static;
    }

    .menu {
        height: 70px;
    }

    .menuM {
        display: none;
    }

    .menu ul {
        display: inline;
    }

    .moi {
        flex-direction: row;
        justify-content: space-around;
    }

    .skills, .presentation {
        width: 40%;
    }

    .contact {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .myInfo {
        width: fit-content;
    }

    .form-contact {
        width: 50%;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}