


/********COLOR************

#77c22a	
#b5e51d	
#9ad9ea	
#ab7cda	
#fbfbfb	

*************************/

/************************************************************************************************/
/*-----------------------------------BASIC------------------------------------------------------*/
/************************************************************************************************/
body {
    margin: 0;
    font-family: sans-serif;
}

h1 {
    margin-top: 50px;
    margin-bottom: 0;
    font-family: 'Sacramento', cursive;
    font-size: 5.625rem;
}

h1,
h2 {
    color: #66BFBF;

}

h2 {
    font-size: 2.5rem;
    font-weight: normal;
    margin: 0;
}

h2,
h3  {
    font-family: 'Delius Swash Caps', cursive;
}

h3,
a {
    color: #11999E;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    transition: color 0.2s;
}

li a:hover {
    color: #11739e;
}

p {
    color: #40514E;
}

p,
a   {
    font-family: 'Handlee', cursive;

}

hr {
    border-style: dotted none none;
    border-width: 8px;
    color: #EAF6F6;
    width: 5%; 
    margin: 80px auto;
}

/************************************************************************************************/
/*-----------------------------------TOP-CONTAINER----------------------------------------------*/
/************************************************************************************************/

.top-cloud,
.bottom-cloud  {
    position: absolute;
}
.bottom-cloud  {
    left: 300px;
    bottom: 300px;
}

.top-cloud  {
    top: 50px;
    right: 300px;
}


.top-container {
    background-color: #E4F9F5;
    padding-top: 100px;
    position: relative;
    text-align: center;

}

.top-container h2 {
    line-height: 2;
}


/************************************************************************************************/
/*-----------------------------------MIDDLE-CONTAINER-------------------------------------------*/
/************************************************************************************************/


.middle-container {
    background-color: ;
    padding-top: 100px;
    text-align: center;
}

.profile h2 {
    margin: 20px 0 ;
}

.profile img {
    width: 15%;
    border: solid 15px #E4F9F5;
    border-radius: 100%;
    background-color: #11999E;
}

.skills h2 {
    margin-bottom: 50px;
}

.skill-row {
    display: flex;
    width: 50%;
    margin: 20px auto;
    text-align: left;
    line-height: 2;
    
}

.reverse {
    flex-direction: row-reverse;
}

.skill-row img {
    width: 25%;
}

.web-icon,
.dance-icon {
    margin-right: 30px;
}

.electrician-icon {
    margin-left: 30px;
}

.contact-me {
    line-height: 2;
    width: 40%;
    margin: 60px auto;
}


.btn {
   -webkit-border-radius: 60px;
   -moz-border-radius: 60px;
   border-radius: 60px;
   color: #FFFFFF;
   padding: 10px;
   background-color: #66BFBF;
   -webkit-box-shadow: 1px 1px 5px 0 #FFFFFF;
   -moz-box-shadow: 1px 1px 5px 0 #FFFFFF;
   box-shadow: 1px 1px 5px 0 #FFFFFF;
   text-shadow: 1px 1px 5px #000000;
   border: solid #66BFBF 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
   transition: background 0.2s;
}

.btn:hover {
   background: #11999E;
}




/************************************************************************************************/
/*-----------------------------------BOTTOM-CONTAINER-------------------------------------------*/
/************************************************************************************************/

.bottom-container {
    background-color: #66BFBF;
    text-align: center;
    line-height: 2;
    padding: 30px 0;
}

.bottom-container p {
    color: #EAF6F6;
    font-size: 0.75rem;
}

.bottom-container a {
    margin: 0 20px;
}

.bottom-container a:hover {
    color: #EAF6F6;
}


