h1 { 
    font-size: 6rem;
    margin: 0;
}

h2 {
    font-size: 3rem;
    margin: 0;
    
}

.pressToStart {
    border: solid #fff;
    border-radius: 15px;
    box-shadow: 5px 10px #fff;
}

.pressToStart:active {
    box-shadow: none;
    position: relative;
    left: 5px;
    top: 10px;
}

h1,h2 {
    font-family: 'Concert One', cursive;    
    color: #fff;
}

body {
    margin: 0;
    background-color: #3a3a3b;
}
.container {
    text-align: center;
}




/************Color**************/


#red {
    background-color: red;
    border-radius: 100% 20% 20%
}

#blue {
    background-color: blue;
    border-radius: 20% 100% 20% 20%;
}

#yellow {
    background-color: yellow;
    border-radius: 20% 20% 20% 100%;
}

#green {
    background-color: green;
    border-radius: 20% 20% 100%;
}

/********Buttons************/

button {
    border: solid 5px #fff;
    width: 40%;
    height: 40%;
    margin: 05px;
}

.buttons {
    margin: 30px auto;
    border-radius: 100%;
    width: 500px;
    height: 500px;
    background-color: #2c2c2c;
    padding: 2%;
}

button:active {
    opacity: 0.5;
}

.randomPress {
    opacity: 0.5;
}

.game-over {
    background-color: #ff3030;
}
